.Wrap {
  width: 100%;
  height: 100vh;
  background-color: var(--color-bg-light);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TodoBox {
  width: 400px;
  height: 440px;
  background-color: var(--color-bg);
  border-radius: 20px;

  box-shadow: 10px 14px 10px var(--color-shadow);

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.NavBar {
  width: 100%;
  height: 60px;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--color-bg-dark);
  border-bottom: 1px solid var(--color-bg-light);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.DarkModeBtn {
  background-color: transparent;
  border: none;
}

.DarkModeIcon {
  font-size: 20px;
  color: white;
}

.Menu {
  display: flex;
  flex-direction: row;
  align-items: center;

  list-style: none;
}

.List {
  margin-left: 10px;
}

.ListButton {
  background-color: transparent;
  border: none;

  color: var(--color-bg-light);
  font-size: 14px;
}

.Contents {
  width: 100%;
  height: 320px;
  padding: 20px;
  box-sizing: border-box;

  overflow: scroll;

  color: var(--color-white);
}

.Contents::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.Contents::-webkit-scrollbar-thumb {
  width: 6px;
  background-color: var(--color-scrollbar);
}

.Contents::-webkit-scrollbar-track {
  width: 6px;
  background-color: var(--color-scrollbar-track);
}

.ContentWrap {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.CheckArea {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ConetentTitle {
  margin: 0;
  margin-left: 10px;

  color: var(--color-text);
}

.DeleteButton {
  width: 24px;
  height: 24px;
  background-color: var(--color-bg-dark);
  border-radius: 20px;
  border: none;

  outline: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.CheckIcon {
  font-size: 20px;
  color: var(--color-white);
}

.DeleteIcon {
  font-size: 24px;
  color: var(--color-white);
}

.TodoInputWrap {
  width: 100%;
  height: 60px;
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--color-bg-dark);
  border-top: 1px solid var(--color-bg-light);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.InputText {
  width: 76%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid var(--color-bg-light);
  border-radius: 10px;

  outline: none;

  color: var(--color-text);
}

.InputText::placeholder {
  color: var(--color-bg-light);
}

.SubmitButton {
  width: 20%;
  height: 100%;
  border-radius: 10px;
  border: none;
  background-color: var(--color-gray);

  outline: none;

  transition: all 0.5s;
}

.SubmitButton:hover {
  background-color: var(--color-white);

  cursor: pointer;
}
