:root {
  --color-bg-light: #8fbc8f;
  --color-bg-dark: #2b572b;
  --color-bg: #518751;
  --color-text: #ffffff;
  --color-accent: #fffffc;
  --color-white: #ffffff;
  --color-scrollbar: #2b572b;
  --color-scrollbar-track: #486a48;
  --color-shadow: #6e936e;
  --color-gray: #c8c8c6;
}

html.dark {
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
